:root{
--primary-blue: #21233B;
--second-blue: #000110;
--yellow-primary: #FFEB56;
--font-text: 'Raleway', sans-serif;
}

.weather-home{
    background-image: url("./img/Cloud-background.png");
    background-position: 225px 30px;
    background-blend-mode:soft-light ;
    height: auto;
}

.blue-primary{
    background-color: var(--primary-blue);
}

.blue-second{
    background-color: var(--second-blue);
}

.yellow-primary{
    background-color: var(--yellow-primary);
}

.weather-highLight{
    height: auto;
}
.second-font{
    font-family: var(--font-text);
    font-size: 18px;
    color: #a09fb1;

}

.primary-font{
    font-family: var(--font-text);
    font-size: 36px;
    color: #a09fb1;
    font-weight: 600;
}

.title-font{
    font-family: var(--font-text);
    font-size: 100px;
    color: #E7E7EB;
}

.hightlight-font{
    font-family: var(--font-text);
    font-size: 5rem;
    font-weight: 600;
    color: #E7E7EB;
}